@import './utils.scss';

.button {
	@include roundedElement;
	flex-grow: 0;
	flex-shrink: 0;
	width: fit-content;
	font-size: var(--menu-font-size);
	letter-spacing: var(--menu-font-spacing);
	line-height: 1;
	color: var(--text-variant);
	font-weight: 600;
	text-transform: uppercase;
	padding: 0 2em;
	cursor: pointer;
	border: 1px solid var(--accent-variant);
	background: none;
	outline: none;
	&.background {
		background-color: var(--background);
	}
	&.primary {
		border: none;
		color: var(--background);
		background-color: var(--primary);
	}
	&:hover:not(:disabled),
	&:focus-visible:not(:disabled) {
		border-color: var(--accent);
		&.primary {
			background-color: var(--primary-variant);
		}
	}
}
