@import './utils.scss';

.contact_section {
	width: 100vw;
	display: flex;
	@include contentPadding;
	.contact_container {
		width: 100%;
		@include maxWidthContainer;
		padding-bottom: var(--gap-vertical);
		input {
			@include inputStyles;
		}
		textarea {
			@include inputStyles;
			height: 10em;
			padding-top: 0.8em;
			padding-bottom: 0.8em;
		}
		.form_container {
			margin-top: 2em;
			display: flex;
			gap: 1em;
			@media screen and (max-width: $breakpoint-mobile) {
				margin-top: 1.5em;
				gap: 1.5em;
				flex-direction: column;
			}
			.input_container {
				@include labeledInputStyles;
			}
		}
	}
}
