@import './utils.scss';

.contact_section {
	width: 100vw;
	display: flex;
	@include contentPadding;
	.contact_container {
		width: 100%;
		margin: 0 auto;
		max-width: $breakpoint-laptop;
		padding-bottom: var(--gap-vertical);
		input {
			@include inputStyles;
		}
		textarea {
			@include inputStyles;
			height: 10em;
			padding-top: 1em;
			padding-bottom: 1em;
		}
		.form_container {
			margin-top: 2em;
			display: flex;
			gap: 1em;
			@media screen and (max-width: $breakpoint-mobile) {
				margin-top: 1.5em;
				gap: 1.5em;
				flex-direction: column;
			}
			.input_container {
				position: relative;
				label {
					position: absolute;
					top: 0.9em;
					padding: 0 1em;
					background-color: var(--background);
					font-size: calc(var(--menu-font-size) * 0.9);
					text-transform: uppercase;
					letter-spacing: calc(var(--menu-font-spacing) * 0.8);
					color: var(--text-variant);
					font-weight: 500;
				}
				input,
				textarea {
					margin-top: 1.5em;
				}
				width: 100%;
				flex-grow: 0;
			}
		}
	}
}
