:root {
	--max-width: 1600px;
	--border-radius: 12px;
	--font-standard: 'Poppins', sans-serif;

	--menu-height: 60px;

	--background: hsl(0, 0%, 100%);
	--text: hsl(0, 0%, 18%);
	--text-variant: hsl(0, 0%, 38%);
	--primary: hsl(220, 54%, 33%);
	--accent: hsl(220, 33%, 93%);
	--accent-variant: hsl(220, 32%, 93%);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: hsl(0, 0%, 100%);
		--text: hsl(0, 0%, 18%);
		--text-variant: hsl(0, 0%, 38%);
		--primay: hsl(220, 54%, 33%);
		--accent: hsl(220, 33%, 93%);
		--accent-variant: hsl(220, 32%, 93%);
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	-webkit-text-size-adjust: none;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	min-height: 100vh;
}

body {
	color: var(--text);
	background: var(--background);
}

h1 {
	font-size: 3.2rem;
}
h2 {
	font-size: 2.4rem;
}
h3 {
	font-size: 1.8rem;
}
h4 {
	font-size: 1.6rem;
}
h5 {
	font-size: 1.3rem;
}
h6 {
	font-size: 1.2rem;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	font-size: 1rem;
	font-weight: 400;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
