@import './utils.scss';

.hero_section {
	width: 100vw;
	height: 40vh;
	display: flex;
	.hero_image {
		flex-shrink: 0;
		position: relative;
		width: 100%;
	}
}

.hero_content {
	text-align: center;
	h1 {
		font-size: clamp(1.6rem, 2.5vw, 2rem);
		font-weight: 600;
		text-transform: uppercase;
		line-height: 1.14;
		color: var(--primary);
		margin-bottom: 1em !important;
	}
	.content {
		max-width: $breakpoint-laptop;
		margin: 0 auto;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-bottom: 1em;
		}
		h1 {
			font-size: 2.2em;
		}
		h2 {
			font-size: 1.8em;
		}
		h3 {
			font-size: 1.6em;
		}
		h4 {
			font-size: 1.4em;
		}
		h5 {
			font-size: 1.2em;
		}
		h6 {
			font-size: 1.2em;
		}
	}
	padding-top: var(--gap-vertical);
	@include contentPadding;
	width: 100%;
}
