@import './utils.scss';

.navigation_container {
	@include contentPadding;
	width: 100%;
	z-index: 50;
	position: fixed;
	background-color: var(--accent-variant);
	height: var(--menu-height);
	.navigation_content {
		@include maxWidthContainer;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		.mobile_menu_container {
			display: none;
			justify-content: flex-start;
			align-items: center;
			position: relative;
			height: var(--menu-height);
			height: 60px;
			width: clamp(96px, 10vw, 118px);
			@media screen and (max-width: $breakpoint-tabletBig) {
				display: flex;
			}
			.mobile_menu_button {
				height: 24px;
				outline: none;
				cursor: pointer;
				color: inherit;
				&:hover,
				&:focus-visible {
					color: var(--primary);
				}
			}
		}
		.logo_container {
			position: relative;
			flex-shrink: 0;
			aspect-ratio: 59 / 50;
			width: clamp(96px, 10vw, 118px);
			img {
				transform: translateX(-0.2em);
				@media screen and (max-width: $breakpoint-tabletBig) {
					transform: translateX(-0em);
				}
			}
		}
		.navigation {
			flex-shrink: 0;
			width: auto;
			height: var(--menu-height);
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 0.8rem;
			text-transform: uppercase;
			letter-spacing: var(--menu-font-spacing);
			font-weight: 500;
			font-size: var(--menu-font-size);
			@media screen and (max-width: $breakpoint-tabletBig) {
				display: none;
			}
			.navigation_link {
				outline: none;
				margin: 0 0.5em;
				&:hover {
					color: var(--primary);
				}
				&.active,
				&:focus-visible {
					position: relative;
					color: var(--primary);
					&::after {
						content: '';
						position: absolute;
						bottom: -0.2em;
						left: -0.2em;
						right: -0.1em;
						border-bottom: 0.16em solid var(--primary);
					}
				}
			}
		}
		.cart_container {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			position: relative;
			height: var(--menu-height);
			height: 60px;
			width: clamp(96px, 10vw, 118px);
			.cart_button {
				height: 24px;
				outline: none;
				cursor: pointer;
				color: inherit;
				&:hover,
				&:focus-visible {
					color: var(--primary);
				}
			}
		}
	}
}
