@import './utils.scss';

.page_section {
	width: 100vw;
	display: flex;
	@include contentPadding;
	background-repeat: no-repeat;
	background-position: center calc(var(--gap-vertical) * 2);
	background-size: 150% 60%;
	min-height: 80vh;
	&.content_only {
		background-position: center center;
		min-height: auto;
	}
	.page_container {
		width: 100%;
		max-width: var(--max-width);
		word-wrap: break-word;
		margin: 0 auto;
		.page_content {
			color: var(--text);
			max-width: $breakpoint-laptop;
			margin: 0 auto;
			padding-bottom: var(--gap-vertical);
			p {
				margin-bottom: 1em;
				font-size: 1rem;
				font-weight: 400;
			}
			a {
				color: inherit;
				&:hover {
					text-decoration: underline;
				}
			}
			ul,
			ol {
				list-style-position: inside;
				margin-bottom: 1em;
			}
		}
	}
	&.max_width .page_content {
		max-width: 100%;
	}
}
