@import './utils.scss';

.page_section {
	width: 100vw;
	display: flex;
	@include contentPadding;
	background-repeat: no-repeat;
	background-position: center calc(var(--gap-vertical) * 2);
	background-size: 70% 60%;
	min-height: 80vh;
	.page_container {
		width: 100%;
		max-width: var(--max-width);
		margin: 0 auto;
		.page_content {
			max-width: $breakpoint-laptop;
			margin: 0 auto;
			p {
				margin-bottom: 1em;
			}
		}
	}
}
