@import './utils.scss';

.additional_info {
	background-color: var(--accent-variant-light);
	border-bottom-right-radius: $cardPadding;
	padding: $cardPadding;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: var(--gap-horizontal);
	.product_price {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 0 1em;
		align-items: baseline;
		h2 {
			color: var(--price);
			letter-spacing: var(--font-spacing);
			font-size: calc(var(--font-size) * 1.7);
		}
		h3 {
			color: var(--accent);
			letter-spacing: var(--font-spacing);
			font-size: calc(var(--font-size) * 1.2);
			text-decoration: line-through;
		}
		@media screen and (max-width: $breakpoint-mobileBig) {
			h2 {
				font-size: calc(var(--font-size) * 1.4);
			}
			h3 {
				font-size: var(--font-size);
			}
		}
	}
	h4 {
		letter-spacing: var(--font-spacing);
		font-size: var(--font-size);
		font-weight: 500;
	}
	.info_container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
		gap: calc(var(--gap-horizontal) * 0.5);
		div {
			color: var(--text-variant);
			font-size: 0.9em;
			display: flex;
			align-items: center;
			span {
				display: inline-block;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			i {
				display: flex;
				align-items: center;
				margin-right: 1em;
			}
			svg {
				color: var(--accent);
				height: 1.5em;
				width: 1.5em;
			}
		}
	}
}

.cta_container {
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: var(--gap-horizontal);
	&.cta_desktop {
		margin-top: var(--gap-horizontal);
		margin-bottom: var(--gap-horizontal);
		display: flex;
		@media screen and (max-width: $breakpoint-mobileBig) {
			display: none;
		}

		.buy_container {
			display: flex;
			justify-content: flex-end;
		}
	}
	&.cta_mobile {
		gap: calc(var(--gap-horizontal) * 2);
		margin-top: var(--gap-horizontal);
		margin-bottom: var(--gap-horizontal);
		flex-direction: column-reverse;
		display: none;
		@media screen and (max-width: $breakpoint-mobileBig) {
			display: flex;
		}

		.buy_container {
			display: flex;
			justify-content: center;
		}
	}
	.buy_container {
		flex-shrink: 0;
	}
	.variants_container {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
		gap: var(--gap-horizontal);
		@media screen and (max-width: $breakpoint-mobile) {
			grid-template-columns: repeat(1, 1fr);
		}
		.variant {
			display: flex;
			flex-direction: column;
			justify-content: center;
			border: 1px solid var(--accent);
			&.selected {
				border: 1px solid var(--accent-variant-light);
				background-color: var(--accent-variant-light);
			}
			cursor: pointer;
			padding: $cardPadding;
			border-top-right-radius: $cardPadding;
			.description_container {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				flex-wrap: wrap;
				gap: var(--gap-horizontal);
				h4 {
					text-transform: uppercase;
					font-size: calc(var(--font-size) * 0.8);
					letter-spacing: calc(var(--font-spacing) * 1.1);
					font-weight: 400;
				}
				span {
					margin-left: auto;
					flex-shrink: 0;
					font-size: calc(var(--font-size) * 0.8);
					letter-spacing: var(--font-spacing);
					text-transform: uppercase;
					background-color: var(--price);
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 0.25em 1em;
					color: var(--background);
				}
			}
			.price {
				color: var(--price);
				font-weight: 700;
				padding-top: 0.5em;
			}
		}
	}
}

.certs_container {
	position: absolute;
	width: 100%;
	height: 40%;
	padding: 1em;
	bottom: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, 15%);
	gap: var(--gap-horizontal);
	div {
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: bottom;
		}
	}
}
