@import './utils.scss';

.wrapped_container {
	max-width: $breakpoint-laptop;
	margin: 0 auto;
}

.additional_info {
	background-color: var(--accent-variant);
	border-bottom-right-radius: $cardPadding;
	padding: $cardPadding;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: var(--gap-horizontal);
	.product_price {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 0 1em;
		align-items: baseline;
		h3 {
			color: var(--price);
			letter-spacing: var(--font-spacing);
			font-size: calc(var(--font-size) * 1.5);
		}
		h4 {
			color: var(--accent);
			letter-spacing: var(--font-spacing);
			font-size: var(--font-size);
			text-decoration: line-through;
		}
		@media screen and (max-width: $breakpoint-mobileBig) {
			h3 {
				font-size: calc(var(--font-size) * 1.2);
			}
		}
	}
	h4 {
		letter-spacing: var(--font-spacing);
		font-size: var(--font-size);
	}
	.info_container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
		gap: calc(var(--gap-horizontal) * 0.5);
		div {
			color: var(--text-variant);
			font-size: 0.9em;
			display: flex;
			align-items: center;
			span {
				display: inline-block;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			i {
				display: flex;
				align-items: center;
			}
			svg {
				color: var(--accent);
				height: 1.5em;
				width: 1.5em;
				margin-right: 1em;
			}
		}
	}
}
