@import './utils.scss';

.recipe {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--gap-horizontal);
	.recipe_container {
		position: relative;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		.recipe_image_container {
			z-index: 0;
			position: absolute;
			border-top-right-radius: $cardPadding;
			overflow: hidden;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			opacity: 0.4;
			filter: grayscale(0.25);
		}
		.recipe_info_container {
			z-index: 1;
			position: relative;
			border-top-right-radius: $cardPadding;
			overflow: hidden;
			padding: $cardPadding;
			h3 {
				line-height: 1;
				letter-spacing: var(--font-spacing);
				font-size: var(--font-size);
				color: var(--primary);
				text-transform: uppercase;
				font-weight: 600;
				@media screen and (max-width: $breakpoint-mobile) {
					font-size: calc(var(--font-size) * 0.8);
				}
				@media screen and (max-width: $breakpoint-mobileSmall) {
					font-size: var(--font-size);
				}
			}
			p {
				margin-top: 0.5em;
				font-size: calc(var(--font-size) * 0.8);
				color: var(--text);
				@media screen and (max-width: $breakpoint-mobile) {
					font-size: calc(var(--font-size) * 0.7);
				}
				@media screen and (max-width: $breakpoint-mobileSmall) {
					font-size: calc(var(--font-size) * 0.8);
				}
			}
		}
	}
	&:hover,
	&:focus-visible {
		.recipe_image_container {
			opacity: 0.6;
			filter: grayscale(0);
		}
	}
	.recipe_price {
		text-align: center;
		line-height: 1;
		letter-spacing: var(--font-spacing);
		font-size: var(--font-size);
		color: var(--price);
		font-weight: 700;
		@media screen and (max-width: $breakpoint-mobile) {
			font-size: calc(var(--font-size) * 0.8);
		}
		@media screen and (max-width: $breakpoint-mobileSmall) {
			font-size: var(--font-size);
		}
	}
}
