@import './utils.scss';

.search_container {
	flex-grow: 1;
	position: relative;
	.search {
		@include inputStyles;
	}
	.search_icon {
		color: var(--text-variant);
		font-size: calc(2 * var(--menu-font-size));
		position: absolute;
		right: 0.5em;
		margin-top: 0.25em;
	}
}
