@import './utils.scss';

.search_container {
	flex-grow: 1;
	position: relative;
	.search {
		@include inputStyles;
		&::-webkit-search-decoration,
		&::-webkit-search-cancel-button,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration {
			display: none;
		}
	}
	.search_button {
		cursor: pointer;
		font-size: calc(2 * var(--menu-font-size));
		position: absolute;
		right: 0.5em;
		margin-top: 0.25em;
	}
}
