$breakpoint-laptop: 1024px;
$breakpoint-tabletBig: 860px;
$breakpoint-tablet: 768px;
$breakpoint-mobileBig: 580px;
$breakpoint-mobile: 480px;

@mixin contentPadding {
	padding-left: max(
		4rem,
		env(safe-area-inset-left),
		env(safe-area-inset-right)
	);
	padding-right: max(
		4rem,
		env(safe-area-inset-left),
		env(safe-area-inset-right)
	);
	@media screen and (max-width: $breakpoint-tablet) {
		padding-left: 2.5em;
		padding-right: 2.5em;
	}
}

@mixin roundedElement {
	height: 3em;
	border-radius: 1.5em;
}
